.home{
    max-width: 1280px;
    width: 90%;
    min-width: 350px;
    margin: 90px 0;
    align-self: center;
    background-color: beige;
    position: relative;
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    grid-gap: 16px;
    padding: 16px;
}

.home a:nth-child(2){

}

.home a:nth-child(3){

}

.home a{
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: #ff7011;
    color: #9f0000;
    height: 90px;
}

.home a img{
    height: 90%;
    position: absolute;
    left: 1%;
}

.home a h2{

}

.home a:hover{
    background-color: #e43100;
    color: beige;
}