.menu-lateral{
    height: 100%;
    background-color:beige;
    position: fixed;    
    display: flex;
    flex-direction: column;
    justify-content: center;
    top: 0;
    left: 0;
    z-index: 9;
    padding: 0 .5rem;
}

.fa-angle-right{
    color: blue;
    align-self: center;
}

.menu-lateral a{
    color: #9f0000;
    font-size: 18px;
}

.deporte{
    display: flex;
    flex-direction: column;
    padding: 15px;
    text-align: center;
}

.deporte ul{
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: rgb(255, 255, 252);
    list-style-type: none;
    padding: .2rem;
    margin: .5rem 0;
    text-align: start;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;      
}

.deporte ul a{
    font-size: 14px;
}
